@model List<Week3MVC.Models.Player>

<h2>Player List</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Category</th>
            <th>Bidding Amount</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model)
        {
            <tr>
                <td>@player.Id</td>
                <td>@player.Name</td>
                <td>@player.Category</td>
                <td>@player.BiddingAmount</td>
                <td>
                    <a asp-action="Details" asp-route-id="@player.Id">Details</a> |
                    <a asp-action="Edit" asp-route-id="@player.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@player.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Account" asp-action="Logout">Logout</a>

